

  <tr class="post-list">
  <td>{{currency.currency}}</td>
  <td>{{currency.currency_name}}</td>
  <td>{{currency.price}}</td>
  <td>{{exchange.impact_score}}</td>
  <td>{{exchange.rating}}</td>
  </tr>



  

  
