{{#each posts as |post|}}
<tr class="post-list">
  <td>{{currency.currencyData.currency}}</td>
  <td>{{currency.currencyData.currency_name}}</td>
  <td>{{currency.currencyData.price}}</td>
  <td>{{exchange.exchangeData.impact_score}}</td>
  <td>{{exchange.exchangeData.rating}}</td>
</tr>
{{/each}}