<tr class="post-list">
  {{#each posts as |post|}}
  <td>{{post.post_text}}</td>
  {{!-- <td>{{currency.currency}}</td>
  <td>{{currency.currency_name}}</td>
  <td>{{currency.price}}</td>
  <td>{{exchange.impact_score}}</td>
  <td>{{exchange.rating}}</td> --}}
  {{/each}}
</tr>