
  {{#each posts as |post|}}
  
  <tr class="post-list">
  <td>${{Currency.currencyData.currency}}</td>
  <td>${{Currency.currencyData.currency_name}}</td>
  <td>${{Currency.currencyData.price}}</td>
  <td>{{Exchange.exchangeData.impact_score}}</td>
  <td>{{Exchange.exchangeData.rating}}</td>
  </tr>
{{/each}}