
  {{#each posts as |post|}}
  
  <tr class="post-list">
  <td>${{Currency.currencyData.currency}}</td>
  <td>${{Currency.currencyData.currency_name}}</td>
  <td>${{Currency.currencyData.price}}</td>
  <!--<td>${{impact score}}</td>
  <td>${{rating}}</td>-->
  </tr>
{{/each}}